.container {
  padding: 0;
}

.title {
  margin: 0 0 var(--spacing-6) 0;
  font-size: 1rem;
  font-weight: var(--font-weight-medium);
  color: var(--color-text-secondary);
}

.chartWrapper {
  height: 400px;
  width: 100%;
}
