.container {
  padding: var(--spacing-6);
}

.title {
  margin: 0 0 var(--spacing-6) 0;
  font-size: 18px;
  font-weight: var(--font-weight-semibold);
  color: var(--color-text-primary);
}

.chartWrapper {
  height: 300px;
  width: 100%;
}
